.book-main {
    width: 240px;
    height: 360px;
    /*margin: 20px;*/
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.book {
    width: 240px;
    height: 404px;
    /*margin: 20px;*/
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.book-article {
    margin-top: 8px;
    margin-bottom: 8px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 -12px;
    position: relative;
}

.product-list__item {
    padding: 32px 12px;
    width: 20%;
    position: relative;
}

@media screen and (max-width: 1400px) {
    .product-list__item {
        width: 25%;
    }
}

@media screen and (max-width: 1200px) {
    .product-list__item {
        width: 33.33333%;
    }
}
/*.book:after {*/
/*    height: 5px;*/
/*    color: red;*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: #e6e9ed;*/
/*}*/

.ssdask {
    height: 5px;
    width: 100%;
}

.book-name {
    display: flex;
    /*justify-content: center;*/
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
}

.price {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 6px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.author {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #7f7f7f;
    margin-top: 0;
    margin-bottom: 12px;
    margin-right: 6px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.book-image {
    width: 160px;
    height: 248px;
}

.book-image-inner {
    width: 400px;
    height: 700px;
}

.book-logo {
    display: flex;
    justify-content: center;
}

.book-about {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.book-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.book-characteristics {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.book-author {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: table-cell !important;
}

.book-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.book-publisher {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.characteristics {
    width: 40%;
}

.book-description-part {
    /*white-space: nowrap;*/
    /*width: 300ch;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    -webkit-mask-image: linear-gradient(0deg, transparent 12px, white 66px);
    margin-bottom: 0;
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*overflow-wrap: break-word;*/
    /*-ms-word-wrap: break-word;*/
    /*word-wrap: break-word;*/
    /*-ms-hyphens: auto;*/

    /*width: 200ch;*/
    /*word-wrap: break-word;*/
    /*white-space: nowrap;*/
    /*overflow: visible;*/
    /*text-overflow: ellipsis;*/
}

.category-container {
    display: flex;
}

.author-container {
    display: flex;
}

.publisher-container {
    display: flex;
}

.isbn-container {
    display: flex;
}

.price-container {
    display: flex;
}

.yearOfPublishing-container {
    display: flex;
}

.numberOfPages-container {
    display: flex;
}

.format-container {
    display: flex;
}

.weight-container {
    display: flex;
}

.book-category {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-category:after {
    content: " .................................................................................."
}

.book-author {
    width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.dasdasdasjldk {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
}

.book-author:after {
    content: " .................................................................................."
}

.book-publisher {
    width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-publisher:after {
    content: " .................................................................................."
}

.book-category {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-category:after {
    content: " .................................................................................."
}

.book-price {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-price:after {
    content: " .................................................................................."
}

.book-isbn {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-isbn:after {
    content: " .................................................................................."
}

.book-yearOfPublishing {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-yearOfPublishing:after {
    content: " .................................................................................."
}

.book-numberOfPages {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-numberOfPages:after {
    content: " .................................................................................."
}

.book-format {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-format:after {
    content: " .................................................................................."
}

.book-weight {
    float: left; width: 175px; overflow: hidden; white-space: nowrap;
    margin-right: 5px;
}

.book-weight:after {
    content: " .................................................................................."
}

.author-page {
    display: flex;
    width: 900px;
    margin-bottom: 40px;
}

.daskdskdas {
    display: flex;
    margin-top: 7px;
}

#block {
    display: flex;
    justify-content: flex-end;
}

.daskdskdas > div {
    margin-left: 20px;
}

.custom-btn-in-book {
    margin-top: auto;
    border-radius: 2.5%;
    width: 160px;
    height: 40px;
    padding: 0 25px;
    border: 2px solid #c0c0c0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.somebl {
    display: flex;
    height: 600px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

a {
    word-wrap: break-word;
}

.manyBlock {
    display: table-row;
}

/*.asdkoasdk {*/
/*    max-height: 20px;*/
/*    word-wrap: break-word;*/
/*    display: block;    !*white-space: nowrap;*!*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/

.asdasdlasdlasd {
    display: table-cell;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 15px;
}

.cart-block {
    padding: 20px 24px;
    width: 250px;
    height: 150px;
    background-color: #e2e4f6;
    margin-left: 85px;
    border-radius: 4%;
}

.cart-block-bottom {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.in-stock-image {
    width: 16px !important;
    height: 16px !important;
    /*#6ebc63*/
    filter: invert(67%) sepia(28%) saturate(720%) hue-rotate(66deg) brightness(95%) contrast(84%);
}

.in-stock-text {
    margin: 0 0 0 10px;
}

.same-books {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bottom-charactestics-text {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

.hr-top {
    margin-top: 0;
}

.hr-bottom {
    margin-top: -70px;
}

.characteristics-bottom {
    display: flex;
}

.block-characteristics-top {
    margin-right: 50px;
}

.hr-text {
    height: 1px !important;
}