.up {
    background-color: #b8bedd;
    max-width: 1600px;
    height: 180px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: middle;
}

.up__cont2 {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
}

.menu__item {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin: 20px;
    padding: 10px 15px;
}

.menu__item:hover {
    background-color: #a8c8e6;
    border-radius: 10%;
}

.header-logo {
    height: 90px;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.input-group-text {
    background-color: #9c89b8 !important;
}

.border-0 {
    background-color: #9c89b8 !important;
}

.register-logo {
    height: 40px;
    width: 40px;
    opacity: 1;
    color: #9c89b8;
    /*background-color: #6565a9;*/
    filter: invert(66%) sepia(5%) saturate(2071%) hue-rotate(222deg) brightness(87%) contrast(84%);
}

.login-logo {
    height: 40px;
    width: 40px;
    color: #9c89b8;
    filter: invert(66%) sepia(5%) saturate(2071%) hue-rotate(222deg) brightness(87%) contrast(84%);
}

.logout-logo {
    height: 40px;
    width: 40px;
    color: #9c89b8;
    filter: invert(66%) sepia(5%) saturate(2071%) hue-rotate(222deg) brightness(87%) contrast(84%);
}

.cart-logo {
    height: 40px;
    width: 40px;
    color: #9c89b8;
    filter: invert(66%) sepia(5%) saturate(2071%) hue-rotate(222deg) brightness(87%) contrast(84%);
}

.book-logo {
    height: 40px;
    width: 40px;
    color: #9c89b8;
    filter: invert(66%) sepia(5%) saturate(2071%) hue-rotate(222deg) brightness(87%) contrast(84%);
}

.margin-right {
    margin-right: 30px;
}

.profile-logo {
    height: 40px;
    width: 40px;
    color: #9c89b8;
    filter: invert(66%) sepia(5%) saturate(2071%) hue-rotate(222deg) brightness(87%) contrast(84%);
}

#buttonToRegister, #buttonToLogin {
    border: 0;

    background: transparent !important;
    /*color: #9c89b8;*/
}

.catalog-text {
    margin-bottom: 0 !important;
}

.about-site-text {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
}

.asdkasdoasd {
    background-image: url("../img/logout.png");
}

.user-balance {
    color: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
}

#search, #cart, #myBooks, #profile, #logout, #register, #login {
    transition : all 0.1s ease-out;
    color      : #000;
}

#cart, #myBooks, #profile, #logout, #register, #login {
    padding: 20px;
}

.hovered {
    background : #9a7dc4 !important;
    color      : #fff !important;
}

.card-hovered {
    filter: brightness(0) invert(1);
}