@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/droidserif.woff") format('woff');
}

* {
    box-sizing: border-box;
}

body {
    overflow-y: overlay;
    margin: 0 auto;
    padding:0;
    overflow-x:hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    position: relative;
    min-height: 100%;
    margin:    0 auto;
    max-width: 1600px;
    min-width: 960px;
    padding:0;
    overflow-x:hidden;
}

body {
    margin-bottom: 60px;
}

.contasdk {
    flex-direction: column;
}

.bookPreview {
    width: 50px;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
}

.bookPreview::selection{
    border: 5px;
}

.down {
    display: flex;
    background-color: #d5e8fb;
    width: 100%;
    height: 200px;
}

.butn-5 {
    text-shadow: 1px 1px 1px #F0E6EF;
    text-decoration: none;
}

.butn:hover {
    color: white;
}

.butn {
    color: #ffffff;
    cursor: pointer;
    font-size:18px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    margin: 20px;
    padding: 10px 20px;
}

.page-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    width: 1600px;
    margin: 0;
}

.mid {
    display: flex;
    padding: 40px;
    background-color: #f0e6ef;
}

.mid-info {
    display: flex;
    justify-content: center;
    padding: 100px 200px 100px 200px;
}

.mid-info-description {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.mid-info-up {
    margin-top: 20px;
    margin-bottom: 0;
}

.mid-info-down {
    margin-top: 10px;
}

.mid-index {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #3d3d3d;
}

.middle {
    padding: 20px;
}

.image {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
    background-color: lightblue;
    padding: 15px;
}

@keyframes slide-up {
    0% {
        opacity: 0.2;
        bottom: -45px;
    }

    100% {
        opacity: 1;
        bottom: 50px;
    }
}

.slider.zoom {
    transform: scale(1.5);
}

.thumbnails {
    /*width: 100%;*/
    /*bottom: 50px;*/
    /*position: absolute;*/
    animation: slide-up 1.6s linear 0s 1 forwards;
}

.thumbnails-inner {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnails-inner .thumbnail {
    /*width: 250px;*/
    /*height: 160px;*/
    /*margin: 15px 40px;*/
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbnails-inner .thumbnail:after {
    content: '';
    left: 50%;
    bottom: -27px;
    color: #666;
    padding: 4px 8px;
    position: absolute;
    transform: translate(-50%);
    letter-spacing: 2.5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.smth {
    display: flex;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    /*width: 0;*/
    /*height: 0;*/
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 3px solid #d5e8fb;
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, rgba(213,232,251,1) 0%, rgba(213,214,251,1) 100%);
    background-image: linear-gradient(120deg, rgba(213,232,251,1) 0%, rgba(213,214,251,1) 100%);
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 590px;
}

.thumbnails-inner .orelrelrelrlrl:last-child img {
    margin-bottom: 0;
}

.thumbnails-inner .orelrelrelrlrl:last-child label {
    margin-bottom: 0;
}

.ccc {
    width:451px;
    height:590px;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    /*background-image: center;*/
    background-size: cover;
    /*position: relative;*/
    /*object-fit: cover;*/
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.slider:hover  {

    transform: scale(1.1);
    /*-webkit-transform: scale(1.2,1.2);*/
    /*-webkit-transition: all 0.3s ease-in-out;*/
    /*background-size: 120%;*/
    /*transform: scale(1.2)!**!;*/
}

.full-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal12 {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.modal12.open {
    opacity: 1;
    pointer-events: all;
}

.cccontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 -12px;
    position: relative;
}

*, :after, :before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bookkk:nth-child(-n+5) {
    padding-top: 16px;
}

.bookkk {
    padding: 32px 12px;
    width: 20%;
    position: relative;
}

.neBookk {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 237px;
    height: 440px;
}

.cccontainer {
    padding: 20px;
}

.authorImage {
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 40px;
}

.authorName {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.authorDescription {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.author-page {
    padding-top: 40px;
}
.pad {
    margin-left: 40px;
}

.img_control {
    margin-right: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*body{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    background: #20B2AA;*/
/*    min-height: 100vh;*/
/*    padding: 10px;*/
/*}*/
.pagination ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
}
.pagination ul li{
    color: #9C89B8;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}
.pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}
.pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
    font-size: 22px;
    cursor: default;
}
.pagination ul li.btn{
    padding: 0 20px;
    border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
    color: #fff;
    background: #9C89B8;
}

.modal {
    backdrop-filter: blur(6px);
}

button {
    margin: 20px;
    outline: none;
}

.but {
    margin-top: 40px;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-btn {
    margin-top: auto;
    border-radius: 2.5%;
    width: 200px;
    height: 40px;
    padding: 0 25px;
    border: 2px solid #c0c0c0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.custom-btn-in-cart {
    margin-top: auto;
    border-radius: 2.5%;
    width: 200px;
    height: 40px;
    padding: 0px 25px;
    background: #B8BEDD;
    border: 2px solid #c0c0c0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

/* 11 */
.btn-11 {
    overflow: hidden;
    transition: all 0.3s ease;
}
.btn-11:hover {
    background: #B8BEDD;
    border: 2px solid #B8BEDD;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.upper_holder {}

.bottom_holder {

    display: flex;
    /*bottom: 0;*/
    /*position: absolute;*/


    /*display: table-row;*/

    /*height: 100%;*/
    /*display: flex;*/
    margin-top: auto;
    /*width:240px;*/
    /*height: 50px;*/
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: bottom;
}

.btn-frm {
    margin-top: auto;
    /*background: red;*/
    /*padding:5px;*/
    /*color:white;*/
}

.upper_holder+.bottom_holder {
    height: 100%;
}

.content form {
    /*bottom: 0;*/

}

.content {
    width: 240px;
    bottom: 0;
    /*height: 155px;*/
    /*position: relative;*/
}

.dropbtn {
    background-color: #b8bedd;
    color: white;
    /*padding: 16px;*/
    font-size:18px;
    font-weight: 400;
    line-height: 45px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px #F0E6EF;
}

/*.dropbtn:hover {*/
/*    outline-offset: 15px;*/
/*    text-shadow: 1px 1px 1px #F0E6EF;*/
/*    color: #F0E6EF;*/
/*}*/

/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/
/*html,body{*/
/*    display: grid;*/
/*    height: 100%;*/
/*    place-items: center;*/
/*    text-align: center;*/
/*    background: #000;*/
/*}*/
.csaontainer{
    position: relative;
    left: -10px;
    width: 444px;
    display: flex;
    flex-direction: none;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 16px;
    /*flex-direction: column;*/
}
.csaontainer .post{
    display: none;
}
.csaontainer .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.csaontainer .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}
.csaontainer .edit:hover{
    text-decoration: underline;
}
.csaontainer .star-widget input{
    display: none;
}

.book-rating {
    display: table-cell;
    margin-top: 7px;
    margin-bottom: 0;
    vertical-align: middle;
}

.star-widget label{
    font-size: 16px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}
input:checked ~ label{
    color: #fd4;
}
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #f0e6ef;
}

.rating {
    display: flex;
}

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/
/*.container{*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background: #141a34;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.useful-links{*/
/*    position: absolute;*/
/*    top: 5%;*/
/*    right: 5%;*/

/*}*/
.useful-links a{
    display: block;
    color: #fff;
    text-decoration: none;
}

/*.container form{*/
/*    width: 90%;*/
/*    max-width: 500px;*/
/*    padding: 50px 30px 20px;*/
/*    background: #fff;*/
/*    border-radius: 4px;*/
/*    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);*/
/*    position: relative;*/
/*}*/
.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*.form-register {*/

/*}*/
/*border-color: #dc3545 !important;*/

.form-group{
    /*width: 100%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*margin: 10px 0;*/
    position: relative;
}
.input-group label{
    flex-basis: 28%;
}
/*.input-group input {*/
/*    flex-basis: 68%;*/
/*    background: transparent;*/
/*    border: 0;*/
/*    outline: 0;*/
/*    padding: 10px 0;*/
/*    border-bottom: 1px solid #999;*/
/*    color: #333;*/
/*    font-size: 16px;*/
/*}*/
/*::placeholder{*/
/*    font-size: 14px;*/
/*}*/

/*form button{*/
/*    background: #141a34;*/
/*    color: #fff;*/
/*    border-radius: 4px;*/
/*    border: 1px solid rgba(255, 255, 255, 0.7);*/
/*    padding: 10px 40px;*/
/*    outline: 0;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*    margin: 30px auto 10px;*/
/*}*/
.form-control.is-invalid {
    background-image: none;
}
.was-validated {
    background-image: none;
}
.form-control:invalid {
    background-image: none;
}

.form-group span {
/*    position: absolute;*/
/*    top: 15px;*/
/*    right: 12px;*/
/*    font-size: 14px;*/
    color: red;
}

#submit-error {
    color: red;
}

.form-group span i {
    color: seagreen;
}

.midd {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contt-wrapper-inner {
    display: flex;
}

.contt-wrapper {
    padding: 20px 20px 0 20px;
    margin-left: 20px;
}

.contt-categories {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    width: 250px;
    margin-bottom: 4px;
    margin-top: 16px;
}

.contt-categories-name-wrapper {
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    font-family: 'Lato', sans-serif;
}

.contt-categories-name {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.contt-wrapper {
    max-width: 1600px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-left: auto;
    margin-right: auto;
}

.contt {
    padding: 20px;
}

.news {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}

.news-2 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: 600;
}

.news-3 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    margin-bottom: -34px;
    margin-top: 20px;
    font-weight: 600;
}

.mired {
    margin-top: 0;
    border-radius: 0.7%;
}