<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="shortcut icon" type="x-icon" th:href="@{/img/favicon.png}" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${book.name}">Книга</title>
    <link href="../static/css/styles.css" th:href="@{/css/book.css}" rel="stylesheet" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/css/dropdown.css" th:href="@{/css/dropdown.css}" rel="stylesheet" />
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" />
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<!--/*@thymesVar id="book" type="spring.framework.labs.domain.Book"*/-->
<div class="cont allButFooter">
    <div class="inner__cont">
        <div class="up__cont">
            <div class="up">
                <div class="menu col">
                    <a href="https://abbey-books.ru/index">
                        <img class="header-logo" th:src="@{/img/7.png}">
                    </a>

                    <div class="dropdown">
                        <button class="dropbtn">КАТАЛОГ</button>
                        <div class="dropdown-content">
                            <a href="https://abbey-books.ru/catalog/1">Все книги</a>
                            <tr th:each="category : ${categories}">
                                <a th:text="${category.name}" th:href="${'https://abbey-books.ru/categories/' + category.id + '/page-1'}"></a>
                            </tr>
                        </div>
                    </div>

                    <p class="about-site-text"><a class="butn butn-5" href="https://abbey-books.ru/info">О сайте</a></p>

                    <form th:action="@{/search/page-1}" id="searcher" class="search col" method="get">
                        <div class="input-group rounded">
                            <input type="search" name="bookName" class="form-control rounded" placeholder="Поиск книг"
                                   aria-label="Search" aria-describedby="search-addon"/>
                            <span class="input-group-text border-0" id="search">
                                <i onclick="document.getElementById('searcher').submit()" class="fas fa-search"></i>
                            </span>
                        </div>
                    </form>

                    <div sec:authorize="isAuthenticated()">
                        <p class="user-balance" th:text="${'Баланс: ' + user.balance}"></p>
                    </div>

                    <div sec:authorize="isAuthenticated()" id="cart">
                        <a href="https://abbey-books.ru/cart" method="get" class="">
                            <div class="input-group rounded">
                                <img class="cart-logo" th:src="@{/img/shopping-cart.png}"/>
                            </div>
                        </a>
                    </div>

                    <div sec:authorize="isAuthenticated()" id="myBooks">
                        <a href="https://abbey-books.ru/books/myBooks" method="get" class="">
                            <div class="input-group rounded">
                                <img class="book-logo" th:src="@{/img/book.png}"/>
                            </div>
                        </a>
                    </div>

                    <div sec:authorize="isAuthenticated()" id="profile" >
                        <a href="https://abbey-books.ru/user/profile" method="get" class="">
                            <div class="input-group rounded">
                                <img class="profile-logo" th:src="@{/img/account.png}"/>
                            </div>
                        </a>
                    </div>

                    <div sec:authorize="isAuthenticated()" id="logout" >
                        <a href="https://abbey-books.ru/logout" method="get" class="">
                            <div class="input-group rounded">
                                <img class="logout-logo" th:src="@{/img/logout.png}"/>
                            </div>
                        </a>
                    </div>

                    <div sec:authorize="!isAuthenticated()" id="register">
                        <button type="button" id="buttonToRegister" data-toggle="modal"
                                data-target="#exampleModal1" data-whatever="@getbootstrap">
                            <img class="register-logo" th:src="@{/img/748137.png}" alt=""/>
                        </button>
                    </div>

                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form action="#" th:action="@{/register}" th:object="${userDTO}" method="post">
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                    </div>

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="register-name" class="col-form-label">ФИО:</label>
                                            <input type="text" placeholder="Введите полное ФИО" class="form-control form-register"
                                                   th:field="*{name}" onkeyup="validateName()" id="register-name" th:errorclass="is-invalid">
                                            <span id="name-error">&nbsp;</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="register-username" class="col-form-label">Имя пользователя:</label>
                                            <input type="text" placeholder="Введите имя пользователя" class="form-control form-register"
                                                   th:field="*{username}" onkeyup="validateUsername()" id="register-username" th:errorclass="is-invalid">
                                            <span id="username-error">&nbsp;</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="register-password" class="col-form-label">Пароль:</label>
                                            <input type="password" placeholder="Введите пароль" class="form-control form-register"
                                                   th:field="*{password}" onkeyup="validatePassword()" id="register-password" th:errorclass="is-invalid">
                                            <span id="password-error">&nbsp;</span>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                        <input type="submit" class="btn btn-primary"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div sec:authorize="!isAuthenticated()" id="login">
                        <button type="button" id="buttonToLogin" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                            <img class="login-logo" th:src="@{/img/2609282.png}" alt=""></button>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Вход</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/login}" method="post">
                                    <div class="modal-body">
                                        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Неверные учетные данные пользователя'"
                                             class="alert alert-danger">Неверный логин или пароль</div>

                                        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Учетная запись пользователя заблокирована'"
                                             class="alert alert-danger">Аккаунт был заблокирован</div>
                                        <div class="form-group">
                                            <label for="username" class="col-form-label">Имя пользователя:</label>
                                            <input type="text" id="username" placeholder="Введите имя пользователя"
                                                   class="form-control" name="username" autofocus="true" autocomplete="off">

                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="col-form-label">Пароль:</label>
                                            <input type="password" id="password" placeholder="Введите пароль"
                                                   class="form-control" name="password" autofocus="true" autocomplete="off">
                                        </div>
                                        <label for="remember-me">Remember Me:</label>
                                        <input type="checkbox" id="remember-me" name="remember-me" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                        <input type="submit" class="btn btn-primary"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="middle">
            <div id="block">
                <p class="page-description" th:text="${book.name}"></p>

               <div class="daskdskdas">
                   <div sec:authorize="hasAuthority('book.update')">
                       <div>
                           <form th:action="@{|/books/update/${book.id}|}" method="get">
                               <input class="custom-btn-in-book btn-11" type="submit" value="Редактировать"/>
                           </form>
                       </div>
                   </div>


                   <div sec:authorize="hasAuthority('book.delete')">
                       <div>
                           <form th:action="@{|/books/${book.id}|}" id="deleteApi">
                               <input class="custom-btn-in-book btn-11" type="submit" value="Удалить">
                           </form>
                       </div>
                   </div>
               </div>
            </div>

            <p class="book-article" th:text="'Артикул: ' + ${book.article}"></p>
            <div class="csaontainer">
                <div class="star-widget">
                    <form id="ajasjdk">
                        <input type="radio" value="5" name="rate" id="rate-5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" value="4"  name="rate" id="rate-4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" value="3"  name="rate" id="rate-3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" value="2"  name="rate" id="rate-2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" value="1"  name="rate" id="rate-1">
                        <label for="rate-1" class="fas fa-star"></label>
                    </form>
                    <form action="#">
                        <header></header>
                    </form>
                </div>
                <p class="book-rating" id="book-rating" th:text="${book.rating.value + ' (' + book.rating.rateTokens.size() + ')'}"></p>
            </div>

            <script>
                var rating = Math.ceil([[${book.rating.value}]]);
                document.getElementById("rate-" + rating).checked = true;
            </script>

            <div class="smth">
                <div class="card example-1 square scrollbar-dusty-grass square thin">
                    <div class="card-body">
                        <div class="thumbnails">
                            <div class="thumbnails-inner">
                                <div th:each="image : ${book.images}" class="orelrelrelrlrl">
                                    <label>
                                        <input type="radio" name="test" value="big">
                                        <img th:src="${image}" class="rounded mx-auto d-block thumbnail bookPreview">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img_control">
                    <div class="ccc">
                        <div id="test123" class="slider">
                            <img th:src="${book.images[0]}" id="myImage">
                        </div>
                    </div>
                </div>
                <div class="characteristics">
                    <p class="book-about">О товаре</p>
                    <p class="book-description-part" th:text="${book.description}"></p>
                    <a class="btn" href="#book-description">Подробнее о товаре</a>
                    <p class="book-characteristics">Характеристики</p>

                    <div th:if="${book.authors.size() == 1}">
                        <div class="author-container">
                            <p class="book-author">Автор: </p>
                            <a style="text-decoration: none" th:href="'https://abbey-books.ru/authors/' + ${book.authors[0].id} + '/page-1/?sortField=name&sortDir=desc'" th:text="${book.authors[0].name}"></a>
                        </div>
                    </div>

                    <div class="manyBlock" th:if="${book.authors.size() > 1}">
                        <div class="dasdasdasjldk">
                            <p class="book-author">Авторы:</p>
                        </div>
                        <div class="asdasdlasdlasd">
                            <a style="text-decoration: none" th:href="'https://abbey-books.ru/authors/' + ${author.id} + '/page-1/?sortField=name&sortDir=desc'"
                               th:each="author, iterStat : ${book.authors}" th:text="!${iterStat.last} ? ${author.name} + ', &nbsp;': ${author.name}"></a>
                        </div>
                    </div>

                    <div th:if="${book.publishers.size() == 1}">
                        <div class="publisher-container">
                            <p class="book-publisher">Издательство: </p>
                            <a style="text-decoration: none" th:href="'https://abbey-books.ru/publishers/' + ${book.publishers[0].id} + '/page-1/?sortField=name&sortDir=desc'" th:text="${book.publishers[0].name}"></a>
                        </div>
                    </div>
                    <div class="manyBlock" th:if="${book.publishers.size() > 1}">
                        <div class="dasdasdasjldk">
                            <p class="book-publisher">Издательства:</p>
                        </div>
                        <div class="asdasdlasdlasd">
                            <a style="text-decoration: none" th:href="'https://abbey-books.ru/publishers/' + ${publisher.id} + '/page-1/?sortField=name&sortDir=desc'"
                               th:each="publisher, iterStat : ${book.publishers}" th:text="!${iterStat.last} ? ${publisher.name} + ', &nbsp;': ${publisher.name}"></a>
                        </div>
                    </div>

                    <div class="category-container">
                        <p class="book-category">Категория: </p>
                        <a style="text-decoration: none" th:href="'https://abbey-books.ru/categories/' + ${book.category.id} + '/page-1/?sortField=name&sortDir=desc'" th:text="${book.category.name}"></a>
                    </div>

                    <div class="isbn-container">
                        <p class="book-isbn">ISBN: </p>
                        <p th:text="${book.isbn}"></p>
                    </div>

                    <div class="yearOfPublishing-container">
                        <p class="book-yearOfPublishing">Год издания: </p>
                        <p th:text="${book.yearOfPublishing}"></p>
                    </div>

                    <div class="numberOfPages-container">
                        <p class="book-numberOfPages">Количество страниц: </p>
                        <p th:text="${book.numberOfPages}"></p>
                    </div>

                    <div class="format-container">
                        <p class="book-format">Формат: </p>
                        <p th:text="${book.format}"></p>
                    </div>

                    <div class="weight-container">
                        <p class="book-weight">Вес: </p>
                        <p th:text="${book.weight} + ' кг'"></p>
                    </div>

                </div>
                <div class="cart-block" sec:authorize="isAuthenticated()">
                    <p th:text="${book.price + ' ₽'}"></p>
                    <div th:if="${user.getBooks().contains(book)}" class="bottom_holder" th:id="bottom_holder + ${book.id}">
                        <form class="btn-frm" target="dummyframe">
                            <input class="custom-btn-in-cart btn-11" data-toggle="modal"
                                   type="submit" id="alreadyBought" value="Куплено"/>
                        </form>
                    </div>
                    <div th:if="${!user.getBooks().contains(book) && !user.getCart().getBook_carts().contains(book)}" class="bottom_holder" th:id="bottom_holder + ${book.id}">
                        <form class="btn-frm"
                              id="testContent" target="dummyframe">
                            <input class="custom-btn btn-11" th:book-id="${book.id}" onclick="testContent(this.getAttribute('book-id'))" data-toggle="modal"
                                   type="submit" th:id="addToCart + ${book.id}" value="В корзину"/>
                        </form>
                    </div>
                    <div th:if="${!user.getBooks().contains(book) && user.getCart().getBook_carts().contains(book)}" class="bottom_holder" th:id="bottom_holder + ${book.id}">
                        <form class="btn-frm" target="dummyframe">
                            <input class="custom-btn-in-cart btn-11" data-toggle="modal"
                                   type="submit" id="inCart" value="В корзине"/>
                        </form>
                    </div>
                    <div class="cart-block-bottom">
                        <img class="in-stock-image" style="width: 20px; height: 20px; color: green;" th:src="@{/img/tick1.png}"/>
                        <p class="in-stock-text">В наличии</p>
                    </div>
                </div>
            </div>

            <div class="modal12">
                <img th:src="${book.images[0]}" class="full-img" id="myImageFull">
            </div>

            <div th:if="${sameBooks.size() > 0}">
                <p class="same-books">Похожие книги</p>
                <hr class="hr-top">
                <div class="books" id="refreshDiv">
                    <tr th:each="book : ${sameBooks}">
                        <div class="product-list__item">
                            <div class="book" id="book">
                                <div class="upper_holder">
                                    <a href="#" th:href="@{'/books/' + ${book.id}}" class="text-decoration-none text-dark">
                                        <div class="image">
                                            <img class="book-image" th:src="${book.images[0]}" alt="Card image cap">
                                        </div>
                                        <div class="content">
                                            <p class="price" th:text="${book.price + ' р.'}">test</p>
                                            <p class="name" th:text="${book.name}">test</p>
                                            <p class="author" th:text="${#strings.setJoin(book.authors.![name], ', ')}"></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </tr>
                </div>
                <hr class="hr-bottom">
            </div>
            <p class="book-about" id="book-description">О товаре</p>
            <p class="book-description" th:text="${book.description}"></p>
            <hr class="hr-text">
            <p class="bottom-charactestics-text">Характеристики</p>
            <div class="characteristics-bottom">
                <div class="block-characteristics-top">
                    <div th:if="${book.authors.size() == 1}">
                        <div class="author-container">
                            <p class="book-author">Автор: </p>
                            <a style="text-decoration: none" th:href="'https://abbey-books.ru/authors/' + ${book.authors[0].id} + '/page-1/?sortField=name&sortDir=desc'" th:text="${book.authors[0].name}"></a>
                        </div>
                    </div>

                    <div class="manyBlock" th:if="${book.authors.size() > 1}">
                        <div class="dasdasdasjldk">
                            <p class="book-author">Авторы:</p>
                        </div>
                        <div class="asdasdlasdlasd">
                            <a style="text-decoration: none" th:href="'https://abbey-books.ru/authors/' + ${author.id} + '/page-1/?sortField=name&sortDir=desc'"
                               th:each="author, iterStat : ${book.authors}" th:text="!${iterStat.last} ? ${author.name} + ', &nbsp;': ${author.name}"></a>
                        </div>
                    </div>

                    <div th:if="${book.publishers.size() == 1}">
                        <div class="publisher-container">
                            <p class="book-publisher">Издательство: </p>
                            <a style="text-decoration: none" th:href="'https://abbey-books.ru/publishers/' + ${book.publishers[0].id} + '/page-1/?sortField=name&sortDir=desc'" th:text="${book.publishers[0].name}"></a>
                        </div>
                    </div>
                    <div class="manyBlock" th:if="${book.publishers.size() > 1}">
                        <div class="dasdasdasjldk">
                            <p class="book-publisher">Издательства:</p>
                        </div>
                        <div class="asdasdlasdlasd">
                            <a style="text-decoration: none" th:href="'https://abbey-books.ru/publishers/' + ${publisher.id} + '/page-1/?sortField=name&sortDir=desc'"
                               th:each="publisher, iterStat : ${book.publishers}" th:text="!${iterStat.last} ? ${publisher.name} + ', &nbsp;': ${publisher.name}"></a>
                        </div>
                    </div>

                    <div class="category-container">
                        <p class="book-category">Категория: </p>
                        <a style="text-decoration: none" th:href="'https://abbey-books.ru/categories/' + ${book.category.id} + '/page-1/?sortField=name&sortDir=desc'" th:text="${book.category.name}"></a>
                    </div>

                    <div class="isbn-container">
                        <p class="book-isbn">ISBN: </p>
                        <p th:text="${book.isbn}"></p>
                    </div>

                    <div class="price-container">
                        <p class="book-price">Цена: </p>
                        <p th:text="${book.price} + ' р.'"></p>
                    </div>
                </div>
                <div class="block-characteristics-bottom">
                    <div class="yearOfPublishing-container">
                        <p class="book-yearOfPublishing">Год издания: </p>
                        <p th:text="${book.yearOfPublishing}"></p>
                    </div>

                    <div class="numberOfPages-container">
                        <p class="book-numberOfPages">Количество страниц: </p>
                        <p th:text="${book.numberOfPages}"></p>
                    </div>

                    <div class="format-container">
                        <p class="book-format">Формат: </p>
                        <p th:text="${book.format}"></p>
                    </div>

                    <div class="weight-container">
                        <p class="book-weight">Вес: </p>
                        <p th:text="${book.weight} + ' кг'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="downn">
    <footer class="footer text-center text-white">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com" role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" role="button"
                ><i class="fab fa-twitter"></i
                ></a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button"
                ><i class="fab fa-google"></i
                ></a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"
                ><i class="fab fa-instagram"></i
                ></a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://www.vk.com" role="button"
                ><i class="fab fa-vk"></i
                ></a>

            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Все права защищены:
            <a class="text-white" href="https://abbey-books.ru/index.html">AbbeyBooks.com</a>
        </div>
    </footer>
</div>

<style th:inline="text">
    .slider {
        margin-left: 24px;
        width: 410px;
        height: 590px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform .5s;
    }
</style>

<script th:src="@{js/bookform.js}"></script>
<script th:src="@{js/logged_in.js}" sec:authorize="isAuthenticated()"></script>
<script th:src="@{js/not_logged_in.js}"></script>
<script th:src="@{js/validation.js}"></script>
<script th:src="@{js/bookform_actions.js}" sec:authorize="isAuthenticated()"></script>
<script th:src="@{js/register.js}" sec:authorize="isAuthenticated()"></script>

<script type="text/javascript" th:src="@{js/addToCart}" sec:authorize="isAuthenticated()"></script>

<script th:if="${userDTO.username != null}">
    document.getElementById("buttonToRegister").click();
</script>

<script th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Неверные учетные данные пользователя'">
    document.getElementById("buttonToLogin").click();
</script>

<script th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Учетная запись пользователя заблокирована'">
    document.getElementById("buttonToLogin").click();
</script>

<script src="../static/js/app.js" th:href="@{/js/app.js}"></script>

</body>
</html>
