<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" type="x-icon" th:href="@{/img/favicon.png}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="../static/css/styles.css" th:href="@{/css/book.css}" rel="stylesheet" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/css/dropdown.css" th:href="@{/css/dropdown.css}" rel="stylesheet" />
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" />
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<!--/*@thymesVar id="userDTO" type="spring.framework.labs.domain.dtos.security.UserDTO"*/-->
<body>
    <div class="cont">
        <div class="inner__cont">
            <div class="up__cont">
            <div class="up">
                <div class="menu col">
                    <a href="http://localhost:8080/index">
                        <img class="header-logo" th:src="@{/img/7.png}">
                    </a>

                    <div class="dropdown">
                        <button class="dropbtn">КАТАЛОГ</button>
                        <div class="dropdown-content">
                            <a href="http://localhost:8080/catalog/1">Все книги</a>
                            <tr th:each="category : ${categories}">
                                <a th:text="${category.name}" th:href="${'http://localhost:8080/categories/' + category.id + '/page-1'}"></a>
                            </tr>
                        </div>
                    </div>

                    <p class="about-site-text"><a class="butn butn-5" href="http://localhost:8080/info">О сайте</a></p>

                    <form th:action="@{/search/page-1}" id="searcher" class="search col" method="get">
                        <div class="input-group rounded">
                            <input type="search" name="bookName" class="form-control rounded" placeholder="Поиск книг"
                                   aria-label="Search" aria-describedby="search-addon"/>
                            <span class="input-group-text border-0" id="search">
                                <i onclick="document.getElementById('searcher').submit()" class="fas fa-search"></i>
                            </span>
                        </div>
                    </form>

                    <div sec:authorize="isAuthenticated()">
                        <p class="user-balance" th:text="${'Баланс: ' + user.balance}"></p>
                    </div>

                    <div sec:authorize="isAuthenticated()" id="cart">
                        <a href="http://localhost:8080/cart" method="get" class="">
                            <div class="input-group rounded">
                                <img class="cart-logo" th:src="@{/img/shopping-cart.png}"/>
                            </div>
                        </a>
                    </div>

                    <div sec:authorize="isAuthenticated()" id="myBooks">
                        <a href="http://localhost:8080/books/myBooks" method="get" class="">
                            <div class="input-group rounded">
                                <img class="book-logo" th:src="@{/img/book.png}"/>
                            </div>
                        </a>
                    </div>

                    <div sec:authorize="isAuthenticated()" id="profile" >
                        <a href="http://localhost:8080/user/profile" method="get" class="">
                            <div class="input-group rounded">
                                <img class="profile-logo" th:src="@{/img/account.png}"/>
                            </div>
                        </a>
                    </div>

                    <div sec:authorize="isAuthenticated()" id="logout" >
                        <a href="http://localhost:8080/logout" method="get" class="">
                            <div class="input-group rounded">
                                <img class="logout-logo" th:src="@{/img/logout.png}"/>
                            </div>
                        </a>
                    </div>

                <div sec:authorize="!isAuthenticated()">
                    <button type="button" class="margin-right" id="buttonToRegister" data-toggle="modal"
                            data-target="#exampleModal1" data-whatever="@getbootstrap">
                        <img class="register-logo" th:src="@{/img/748137.png}" alt=""/>
                    </button>
                </div>

                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <form action="#" th:action="@{/register}" th:object="${userDTO}" method="post">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                </div>

                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="register-name" class="col-form-label">ФИО:</label>
                                        <input type="text" placeholder="Введите полное ФИО" class="form-control form-register"
                                               th:field="*{name}" onkeyup="validateName()" id="register-name" th:errorclass="is-invalid">
                                        <span id="name-error">&nbsp;</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="register-username" class="col-form-label">Имя пользователя:</label>
                                        <input type="text" placeholder="Введите имя пользователя" class="form-control form-register"
                                               th:field="*{username}" onkeyup="validateUsername()" id="register-username" th:errorclass="is-invalid">
                                        <span id="username-error">&nbsp;</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="register-password" class="col-form-label">Пароль:</label>
                                        <input type="password" placeholder="Введите пароль" class="form-control form-register"
                                               th:field="*{password}" onkeyup="validatePassword()" id="register-password" th:errorclass="is-invalid">
                                        <span id="password-error">&nbsp;</span>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                    <input type="submit" class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="margin-right" sec:authorize="!isAuthenticated()">
                    <button type="button" class="" id="buttonToLogin" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                        <img class="login-logo" th:src="@{/img/2609282.png}" alt=""></button>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Вход</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form th:action="@{/login}" method="post">
                                <div class="modal-body">
                                    <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Неверные учетные данные пользователя'"
                                         class="alert alert-danger">Неверный логин или пароль</div>

                                    <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Учетная запись пользователя заблокирована'"
                                         class="alert alert-danger">Аккаунт был заблокирован</div>
                                    <div class="form-group">
                                        <label for="username" class="col-form-label">Имя пользователя:</label>
                                        <input type="text" id="username" placeholder="Введите имя пользователя"
                                               class="form-control" name="username" autofocus="true" autocomplete="off">

                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Пароль:</label>
                                        <input type="password" id="password" placeholder="Введите пароль"
                                               class="form-control" name="password" autofocus="true" autocomplete="off">
                                    </div>
                                    <label for="remember-me">Remember Me:</label>
                                    <input type="checkbox" id="remember-me" name="remember-me" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                    <input type="submit" class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>

            <a href="http://localhost:8080/publishers/2/page-1/?sortField=name&sortDir=desc">
                <img th:src="@{img/3.jpg}" class="mired">
            </a>

            <div class="middle">

            <p class="news">Новинки</p>
            <div class="books">
                <tr th:each="book : ${lastBooks}">
                    <div class="product-list__item">
                        <div class="book-main" id="book2">
                            <div class="upper_holder">
                                <a href="#" th:href="@{'/books/' + ${book.id}}" class="text-decoration-none text-dark">
                                    <div class="image">
                                        <img class="book-image" th:src="${book.images[0]}" alt="Card image cap">
                                    </div>
                                    <div class="content">
                                        <p class="price" th:text="${book.price + ' р.'}">test</p>
                                        <p class="name" th:text="${book.name}">test</p>
                                        <p class="author" th:text="${#strings.setJoin(book.authors.![name], ', ')}"></p>
                                    </div>
                                </a>
                            </div>
<!--                            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>-->
                            <!--                                    <div class="but" sec:authorize="hasAuthority('book.update')">-->
                            <!--                    <p><a th:href="@{/logout}">Logout</a></p>-->
                        </div>

                        <!--                                </div>-->
                    </div>
                </tr>
            </div>

            <hr>

            <p class="news-2">Лучшие книги</p>
                <div class="books">
                    <tr th:each="book : ${bestBooks}">
                        <div class="product-list__item">
                            <div class="book-main" id="book">
                                <div class="upper_holder">
                                    <a href="#" th:href="@{'/books/' + ${book.id}}" class="text-decoration-none text-dark">
                                        <div class="image">
                                            <img class="book-image" th:src="${book.images[0]}" alt="Card image cap">
                                        </div>
                                        <div class="content">
                                            <p class="price" th:text="${book.price + ' р.'}">test</p>
                                            <p class="name" th:text="${book.name}">test</p>
                                            <p class="author" th:text="${#strings.setJoin(book.authors.![name], ', ')}"></p>
                                        </div>
                                    </a>
                                </div>
                                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>

            <div class="row" sec:authorize="!isAuthenticated()">
                <div class="col-md-12">
                    <div th:if="${param.logout}" class="alert alert-success">Вы успешно вышли из аккаунта</div>
                </div>
            </div>

            <div class="downn">
                <footer class="footer text-center text-white">
                    <div class="container p-4 pb-0">
                        <section class="mb-4">
                            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com" role="button"
                            ><i class="fab fa-facebook-f"></i
                            ></a>

                            <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" role="button"
                            ><i class="fab fa-twitter"></i
                            ></a>

                            <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button"
                            ><i class="fab fa-google"></i
                            ></a>

                            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"
                            ><i class="fab fa-instagram"></i
                            ></a>

                            <a class="btn btn-outline-light btn-floating m-1" href="https://www.vk.com" role="button"
                            ><i class="fab fa-vk"></i
                            ></a>

                        </section>
                    </div>

                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2022 Все права защищены:
                        <a class="text-white" href="http://localhost:8080/index.html">AbbeyBooks.com</a>
                    </div>
                </footer>
            </div>
    </div>
</div>

    <script>
        search.onmouseenter = function(){
            this.classList.add('hovered');
        }

        search.onmouseleave = function(){
            this.classList.remove('hovered');
        }

        cart.onmouseenter = function(){
            this.classList.add('card-hovered');
        }

        cart.onmouseleave = function(){
            this.classList.remove('card-hovered');
        }

        myBooks.onmouseenter = function(){
            this.classList.add('card-hovered');
        }

        myBooks.onmouseleave = function(){
            this.classList.remove('card-hovered');
        }

        profile.onmouseenter = function(){
            this.classList.add('card-hovered');
        }

        profile.onmouseleave = function(){
            this.classList.remove('card-hovered');
        }

        logout.onmouseenter = function(){
            this.classList.add('card-hovered');
        }

        logout.onmouseleave = function(){
            this.classList.remove('card-hovered');
        }

    </script>

    <script>
        var nameError = document.getElementById('name-error');
        var usernameError = document.getElementById('username-error');
        var passwordError = document.getElementById('password-error');

        function validateName() {
            var name = document.getElementById('register-name').value;

            if (name.length === 0) {
                nameError.innerHTML = 'Необходимо ввести ФИО';
                document.getElementById('register-name').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            if (username.length < 8) {
                nameError.innerHTML = 'ФИО должно содержать не менее 8 символов';
                document.getElementById('register-name').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            if (!name.match(/(?:[A-Za-zА-Яа-я]+ ){2}[A-Za-zА-Яа-я]+/)) {
                nameError.innerHTML = 'Введите полное ФИО';
                document.getElementById('register-name').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            document.getElementById('register-name').style.setProperty('border-color', 'seagreen', 'important');
            nameError.innerHTML = '&nbsp;';
            return true;
        }



        function validateUsername() {
            var username = document.getElementById('register-username').value;

            if (username.length === 0) {
                usernameError.innerHTML = 'Необходимо ввести имя пользователя';
                document.getElementById('register-username').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            if (username.length < 6) {
                usernameError.innerHTML = 'Имя пользователя должно содержать не менее 6 символов';
                document.getElementById('register-username').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            if (!username.match(/^[A-Za-z0-9]+$/)) {
                usernameError.innerHTML = 'Не используйте запрещенные символы';
                document.getElementById('register-username').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            document.getElementById('register-username').style.setProperty('border-color', 'seagreen', 'important');
            usernameError.innerHTML = '&nbsp;';
            return true;
        }

        function validatePassword() {
            var password = document.getElementById('register-password').value;

            if (password.length === 0) {
                passwordError.innerHTML = 'Необходимо ввести имя пользователя';
                document.getElementById('register-username').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            if (password.length < 6) {
                passwordError.innerHTML = 'Пароль должен содержать не менее 6 символов';
                document.getElementById('register-username').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            if (password.match(/^[<>${}/]$/)) {
                passwordError.innerHTML = 'Не используйте запрещенные символы';
                document.getElementById('register-username').style.setProperty('border-color', 'red', 'important');
                return false;
            }

            document.getElementById('register-username').style.setProperty('border-color', 'seagreen', 'important');
            passwordError.innerHTML = '&nbsp;';
            return true;
        }
    </script>

    <script>
            $(function() {
                $('#repres').click(function() {
                    $.ajax({
                        type: 'POST',
                        url: 'localhost:8080/register',
                        data: { username: $(this).username.value,
                            password: $(this).password.value }
                    });
                    return false;
                });
            })
        </script>

    <script th:if="${userDTO.username != null}">
        document.getElementById("buttonToRegister").click();
    </script>

    <script th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Неверные учетные данные пользователя'">
        document.getElementById("buttonToLogin").click();
    </script>

    <script th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Учетная запись пользователя заблокирована'">
        document.getElementById("buttonToLogin").click();
    </script>
</body>
</html>
