<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="x-icon" th:href="@{/img/favicon.png}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация</title>
    <link href="../static/css/styles.css" th:href="@{/css/book.css}" rel="stylesheet" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/css/dropdown.css" th:href="@{/css/dropdown.css}" rel="stylesheet" />
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" />
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
    <link href="../static/css/info.css" th:href="@{/css/info.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="cont">
        <div class="inner__cont">
            <div class="up__cont">
                <div class="up">
                    <div class="menu col">
                        <a href="http://localhost:8080/index">
                            <img class="header-logo" th:src="@{/img/7.png}">
                        </a>

                        <div class="dropdown">
                            <button class="dropbtn">КАТАЛОГ</button>
                            <div class="dropdown-content">
                                <a href="http://localhost:8080/catalog/1">Все книги</a>
                                <tr th:each="category : ${categories}">
                                    <a th:text="${category.name}" th:href="${'http://localhost:8080/categories/' + category.id + '/page-1'}"></a>
                                </tr>
                            </div>
                        </div>

                        <p class="about-site-text"><a class="butn butn-5" href="http://localhost:8080/info">О сайте</a></p>

                        <form th:action="@{/search/page-1}" id="search" class="search col" method="get">
                            <div class="input-group rounded">
                                <input type="search" name="bookName" class="form-control rounded" placeholder="Поиск книг"
                                       aria-label="Search" aria-describedby="search-addon"/>
                                <span class="input-group-text border-0" value="" id="item">
                                <i onclick="document.getElementById('search').submit()" class="fas fa-search"></i>
                            </span>
                            </div>
                        </form>

                        <div sec:authorize="isAuthenticated()">
                            <p class="user-balance" th:text="${'Баланс: ' + user.balance}"></p>
                        </div>

                        <div sec:authorize="isAuthenticated()">
                            <form th:action="@{/cart}" id="cart" method="get" class="margin-right">
                                <div class="input-group rounded">
                                    <img class="cart-logo"
                                         onclick="document.getElementById('cart').submit()" th:src="@{/img/shopping-cart.png}"/>
                                </div>
                            </form>
                        </div>

                        <div sec:authorize="isAuthenticated()">
                            <form th:action="@{/books/myBooks}" id="myBooks" method="get" class="margin-right">
                                <div class="input-group rounded">
                                    <img class="book-logo"
                                         onclick="document.getElementById('cart').submit()" th:src="@{/img/book.png}"/>
                                </div>
                            </form>
                        </div>

                        <div sec:authorize="isAuthenticated()">
                            <form th:action="@{/user/profile}" id="profile" method="get" class="margin-right">
                                <div class="input-group rounded">
                                    <img class="profile-logo"
                                         onclick="document.getElementById('profile').submit()" th:src="@{/img/account.png}"/>
                                </div>
                            </form>
                        </div>

                        <div sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" id="logout" method="get" class="margin-right">
                                <div class="input-group rounded">
                                    <img class="logout-logo"
                                         onclick="document.getElementById('logout').submit()" th:src="@{/img/logout.png}"/>
                                </div>
                            </form>
                        </div>

                        <div sec:authorize="!isAuthenticated()">
                            <button type="button" class="margin-right" id="buttonToRegister" data-toggle="modal"
                                    data-target="#exampleModal1" data-whatever="@getbootstrap">
                                <img class="register-logo" th:src="@{/img/748137.png}" alt=""/>
                            </button>
                        </div>

                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form action="#" th:action="@{/register}" th:object="${userDTO}" method="post">
                                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                        </div>

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="register-name" class="col-form-label">ФИО:</label>
                                                <input type="text" placeholder="Введите полное ФИО" class="form-control form-register"
                                                       th:field="*{name}" onkeyup="validateName()" id="register-name" th:errorclass="is-invalid">
                                                <span id="name-error">&nbsp;</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="register-username" class="col-form-label">Имя пользователя:</label>
                                                <input type="text" placeholder="Введите имя пользователя" class="form-control form-register"
                                                       th:field="*{username}" onkeyup="validateUsername()" id="register-username" th:errorclass="is-invalid">
                                                <span id="username-error">&nbsp;</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="register-password" class="col-form-label">Пароль:</label>
                                                <input type="password" placeholder="Введите пароль" class="form-control form-register"
                                                       th:field="*{password}" onkeyup="validatePassword()" id="register-password" th:errorclass="is-invalid">
                                                <span id="password-error">&nbsp;</span>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                            <input type="submit" class="btn btn-primary"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="margin-right" sec:authorize="!isAuthenticated()">
                            <button type="button" class="" id="buttonToLogin" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                                <img class="login-logo" th:src="@{/img/2609282.png}" alt=""></button>
                        </div>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel1">Вход</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form th:action="@{/login}" method="post">
                                        <div class="modal-body">
                                            <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Неверные учетные данные пользователя'"
                                                 class="alert alert-danger">Неверный логин или пароль</div>

                                            <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message} == 'Учетная запись пользователя заблокирована'"
                                                 class="alert alert-danger">Аккаунт был заблокирован</div>
                                            <div class="form-group">
                                                <label for="username" class="col-form-label">Имя пользователя:</label>
                                                <input type="text" id="username" placeholder="Введите имя пользователя"
                                                       class="form-control" name="username" autofocus="true" autocomplete="off">

                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-form-label">Пароль:</label>
                                                <input type="password" id="password" placeholder="Введите пароль"
                                                       class="form-control" name="password" autofocus="true" autocomplete="off">
                                            </div>
                                            <label for="remember-me">Remember Me:</label>
                                            <input type="checkbox" id="remember-me" name="remember-me" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                            <input type="submit" class="btn btn-primary"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-page page-wrap__inner">
                <div class="text-page__wrapper">
                    <div class="about-typography typography">
                        <div class="nuxt-content">
                            <h2>О нас</h2>
                <h3>Кто мы?</h3>
                <p>
                    Привет! Мы - Abbey-books.ru, интернет-магазин по продаже книг.
                    Наш магазин появился в 2022 году и с тех пор продал столько же книг, сколько занимает территория Гибралтара. ;)
                </p>
                <p>
                    среди издательских брендов, которые представлены в abbey-books.ru есть: «БОМБОРА», «Corpus», «Эксмо», «Mainstream», «Редакция Елены Шубиной», «Вилли-Винки», «Fanzon», «Комильфо» и «Канц-Эксмо». И мы постоянно пополняем нашу библиотеку.
                </p>
                <p>
                    Если вы представляете издательство и хотите попасть на abbey-books.ru - <a href="#contacts-title">напишите нам</a>.
                </p>
                <h3>Что мы делаем?</h3>
                <p>
                    Мы не просто продаем книги. Abbey-books.ru - часть издательства, а это значит, что мы гораздо ближе к процессу появления книг в ваших руках, чем обычный интернет-магазин.
                </p>
                <p>
                    Эта близость позволяет нам быть экспертами. Мы заранее знаем, когда выходят новинки и получаем их первыми.
                </p>
                <p>
                    Мы рассказываем о книгах в нашем блоге, нам дают рекомендации знаменитости, а наши подборки составляют профессиональные редакторы.
                </p>
                <h3>Что отличает нас от других?</h3>
                <ul>
                    <li>Новинки. Abbey-books.ru - первый интернет-магазин, где появляются свежие книжные хиты.</li>
                    <li>Автографы. У нас более 350 книг с автографами.</li>
                    <li>Доставка. Мы доставляем по всей России с помощью восьми сервисов.</li>
                    <li>Упаковка. Наши книги всегда доходят в отличном состоянии, спасибо надежной упаковке.</li>
                    <li>Кэшбэк. Для постоянных покупателей abbey-books.ru - самое выгодное место в мире*.</li>
                </ul>
                <small><sup>*</sup>согласно опросу постоянных покупателей в рейтинге ко дню рождения abbey-books.ru.ru</small>
                <h3>Кто делает abbey-books.ru?</h3>
                <p>Всего abbey-books.ru делают около 50 человек - закупщики, разработчики, сотрудники колл-центра, склада и доставки, контент-менеджеры и маркетологи.</p>
                <p>Часто эти люди пришли из другого подразделения Эксмо-АСТ и принесли часть своей любви к книгам - в том числе и нашим покупателям.</p>
                <p>Скоро мы выложим сюда фото некоторых из этих супергероев.</p>
                <h3 id="contacts-title">Наши контакты</h3>
                <ul class="contact-list _reset-list">
                    <li>
                        <div style="display: flex; flex-direction: column;">
                            <a href="tel:88003289930" style="font-size: 20px; line-height: 30px; font-weight: 700; color: inherit;">8 (800) 328-99-30</a>
                            <div style="font-size: 14px; line-height: 20px; color: rgb(117, 117, 117);">
                                Служба клиентской поддержки
                                <br>
                                c 8 до 20 (Мск)
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="display: flex; flex-direction: column;">
                            <a href="mailto:market@abbey-books.ru" style="font-size: 20px; line-height: 30px; font-weight: 700;">market@abbey-books.ru</a>
                            <div style="font-size: 14px; line-height: 20px; color: rgb(117, 117, 117);">Наш электронный адрес</div>
                        </div>
                    </li>
                </ul></div></div></div></div>
            <footer class="footer text-center text-white">
                <div class="container p-4 pb-0">
                    <section class="mb-4">
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com" role="button"
                        ><i class="fab fa-facebook-f"></i
                        ></a>

                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" role="button"
                        ><i class="fab fa-twitter"></i
                        ></a>

                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button"
                        ><i class="fab fa-google"></i
                        ></a>

                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"
                        ><i class="fab fa-instagram"></i
                        ></a>

                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.vk.com" role="button"
                        ><i class="fab fa-vk"></i
                        ></a>

                    </section>
                </div>

                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 Все права защищены:
                    <a class="text-white" href="http://localhost:8080/index.html">AbbeyBooks.com</a>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>